EQUATORIAL_CHAT_NAME="Equatorial Energia Maranhão"
TARGET_UC="3024668214"
TARGET_REFERENCE="05/2026"
REGISTERED_EMAIL="faturas@alexandriaenergia.com"

DOWNLOAD_DIR="./downloads"
SESSION_DIR="./sessions"

MESSAGE_TIMEOUT_MS=90000
MIN_DELAY_MS=2000
MAX_DELAY_MS=5000
