EQUATORIAL_PHONE_NUMBER="5598999999999"
REGISTERED_EMAIL="faturas@alexandriaenergia.com"

CSV_DIR="./csvs"
DOWNLOAD_DIR="./downloads"
SESSION_DIR="./sessions"

MESSAGE_TIMEOUT_MS=90000
MIN_DELAY_MS=2000
MAX_DELAY_MS=5000
